@import "minxin/blue_btn.scss"; 

#comments {

    border: 1px solid #4b5c678f;
    border-radius: 0.5em;
    padding: 0.8em;
    
    .comment {
    margin: 0.5em 0 0.5em 0;
    box-shadow: 0 0 1px #4b5c678f;
    }
    
    h2 {
    font-size: 1.8em;
    color: #4a5568;
    padding: 0.2em;
    }

    p{
        margin-bottom: 0.5em;
    }
    
    form input, form textarea {

        border: 1px solid #2f3944;
        padding: 0.5em;

    }

    .comment-name-email-block{
        display: flex;
        flex-wrap: wrap;

        .comment-form-author, .comment-form-email{
            flex: 1 0 40%;  /* flex-grow, flex-shrink, flex-basis */
            background-color: lightgreen;
        }
        
        .comment-form-author{
            margin-right: 2px;
        }
        
        .comment-form-email{
            margin-left: 2px;
        }
        
        input{
            width: 100%
        }

    }

    textarea {
        width:100%;
        height:10em;
    }

    .form-submit {
        text-align: center;

        input{
            @include blueBtn;
        }

    }
    #comments-show-more-btn {
         @include blueBtn;
    }
    
    #comments-show-btn {
        @include blueBtn;
        
        width:100%;
        
        img {
            padding: 0.7em;
            margin: auto;
        }
        
    }
    
    
    // Comment list
    
    .comment{
    border: 1px solid #4b5c678f;
    border-radius: 0.5em;
    padding: 1em;
    }
    
    .comment-author {
        span {
            display: block-inline;
            width:20%;
        }
    }
    
    .avatar {
          width: 60px;
            height: 60px;
            border-radius: 50%;

            object-fit: cover;
            object-position: center right;
            display: inline;
    }

    .loadingspinner {
	pointer-events: none;
	width: 2.5em;
	height: 2.5em;
	border: 0.4em solid transparent;
        border-color:  #ffcc00;
	border-top-color: #3E67EC;
	border-bottom-color: #3E67EC;
	border-radius: 50%;
	animation: loadingspin 1s linear infinite;
        margin: auto;
}

@keyframes loadingspin {
	100% {
			transform: rotate(360deg)
	}
}

    
    
}


