@import 'single.scss';

/*! purgecss start ignore */

amp-script {
    
    #comments{
    
        ol {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }    
        
        .commentmetadata{
        font-size: 0.7em;
        padding-bottom: 2px;
        text-align: right;
        margin-top: -1.5em;
        }
        
    @import 'components/commentList.scss';
  
    
     amp-img { display:inline-block;}   
    
    }
    
}

/*! purgecss end ignore */