@import 'single.scss';

/*! purgecss start ignore */


html:not([amp-version]) amp-script{
    #submit-amp, #comments-show-btn{
        display: none;
    }    
    
    }
 

 amp-script {

    
    
    #comment{
        width:96%;
    }    
    
.comment-form-comment {
    text-align: center;
    color: #111;
} 

    #comments{
    
        ol {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }    
        
        .commentmetadata{
        font-size: 0.7em;
        padding-bottom: 2px;
        text-align: right;
        margin-top: -1.5em;
        display: contents;
        }
    
   #cancel-comment-reply-link {
        border: 1px solid #2f3944;
        border-bottom: 0;
    }     
       
 
    @import 'components/commentList.scss';
    
    
    #comments-show-more-btn, #comments-page {
         @include blueBtn;
    }
    
    }
    
    .comment-author{
            amp-img {
            border-radius: 50%;
            object-fit: cover;
            object-position: center right;
            display: inline-block;
            margin-right: 0.3em;
            }
        }
 
.fade-in{
    animation: fadeinanim 0.6s linear forwards;
}

.disp-none{
    display: none;
}
    
}

/*! purgecss end ignore */