@import 'single.scss';

/*! purgecss start ignore */

amp-script {
    
    #comments{
    
        ol {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }    
        
        .commentmetadata{
        font-size: 0.7em;
        padding-bottom: 2px;
        text-align: right;
        margin-top: -1.5em;
        display: contents;
        }
    
   #cancel-comment-reply-link {
        border: 1px solid #2f3944;
        border-bottom: 0;
    }     
       
 
    @import 'components/commentList.scss';

    }
    
    .comment-author{
            amp-img {
            border-radius: 50%;
            object-fit: cover;
            object-position: center right;
            display: inline-block;
            margin-right: 0.3em;
            }
        }
    
}

/*! purgecss end ignore */