@use 'components/SimpleSpinner';

#comments {
  border: 1px solid #4b5c678f;
  border-radius: 0.5em;
  padding: 0.8em;
}

#comments .comment {
  margin: 0.5em 0 0.5em 0;
  box-shadow: 0 0 1px #4b5c678f;
}

#comments h2 {
  font-size: 1.8em;
  color: #4a5568;
  padding: 0.2em;
}

#comments p {
  margin-bottom: 0.5em;
}

#comments form input, #comments form textarea {
  border: 1px solid #2f3944;
  padding: 0.5em;
}

#comments .comment-name-email-block {
  display: flex;
  flex-wrap: wrap;
}

#comments .comment-name-email-block .comment-form-author, #comments .comment-name-email-block .comment-form-email {
  flex: 1 0 40%;
  /* flex-grow, flex-shrink, flex-basis */
  background-color: lightgreen;
}

#comments .comment-name-email-block .comment-form-author {
  margin-right: 2px;
}

#comments .comment-name-email-block .comment-form-email {
  margin-left: 2px;
}

#comments .comment-name-email-block input {
  width: 100%;
}

#comments textarea {
  width: 100%;
  height: 10em;
}

#comments .form-submit {
  text-align: center;
}

#comments .form-submit input {
  padding: 0.5em;
  background: #3f4c6b;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #3f4c6b 0%, #2a3d66 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: #ffffff;
  padding-left: 1em;
  padding-right: 1em;
  text-transform: uppercase;
}

#comments #comments-show-more-btn {
  padding: 0.5em;
  background: #3f4c6b;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #3f4c6b 0%, #2a3d66 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: #ffffff;
  padding-left: 1em;
  padding-right: 1em;
  text-transform: uppercase;
}

#comments #comments-show-btn {
  padding: 0.5em;
  background: #3f4c6b;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #3f4c6b 0%, #2a3d66 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: #ffffff;
  padding-left: 1em;
  padding-right: 1em;
  text-transform: uppercase;
  width: 100%;
}

#comments #comments-show-btn img {
  padding: 0.7em;
  margin: auto;
}

#comments .comment {
  border: 1px solid #4b5c678f;
  border-radius: 0.5em;
  padding: 1em;
}

#comments .comment-author span {
  display: block-inline;
  width: 20%;
}

#comments .avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center right;
     object-position: center right;
  display: inline;
}

#comments .comment-metadata {
  font-size: 0.7em;
  padding-bottom: 2px;
  text-align: right;
}

#comments .comment-content {
  padding: 0.7em;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

#comments .reply {
  min-width: 8em;
  width: 10%;
  border: 1px #2f3944;
  background: linear-gradient(to bottom, #7B8297 0%, #756F97 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: #ffffff;
  padding-left: 1em;
  padding-right: 1em;
  text-transform: uppercase;
  text-align: center;
}

#comments .reply:hover {
  font-weight: bolder;
}
